
trainingsdaten.npy
trainingsdaten-alt.npy
trainierte_daten-alt.npy
car-0.001-alexnet-10-epochs.model.meta
car-0.001-alexnet-10-epochs.model.index
car-0.001-alexnet-10-epochs.model.data-00000-of-00001
